.container{
    margin:auto;
    background-color:white;
    width:80%;
}


li:hover{
 -webkit-transform:scale(1.1);
 transform:scale(1.1);
 opacity: 0.8;
 background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
 cursor:pointer;
 }

li{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor:pointer;
} 